@charset "utf-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    width: 600px;
    border-collapse: collapse;
}

th, td {
    padding: 7px;
}

th {
    text-transform: uppercase;    
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;
}

tr.alternado {
    background-color: #d1cece;
}

tr:hover {
    background-color: rgba(128, 252, 254, 0.918);
}

.alignright {
    text-align: right;
}
