@charset "UTF-8";

@-webkit-keyframes animacao-caixa {
    
    from {
        background: red;
        border-radius: 0px;
        top: 0;
        left: 0;
        box-shadow: 0px 0px 0px black;
    }

    to {
        background: green;
        border-radius: 300px;
        top: 200px;
        left: 200px;
        box-shadow: 0px 4px 10px black;
    }

}
@-moz-keyframes animacao-caixa {
    
    from {
        background: red;
        border-radius: 0px;
        top: 0;
        left: 0;
        box-shadow: 0px 0px 0px black;
    }

    to {
        background: green;
        border-radius: 300px;
        top: 200px;
        left: 200px;
        box-shadow: 0px 4px 10px black;
    }

}
@-o-keyframes animacao-caixa {
    
    from {
        background: red;
        border-radius: 0px;
        top: 0;
        left: 0;
        box-shadow: 0px 0px 0px black;
    }

    to {
        background: green;
        border-radius: 300px;
        top: 200px;
        left: 200px;
        box-shadow: 0px 4px 10px black;
    }

}

@-o-keyframes animacao-caixa {
    
    from {
        background: red;
        border-radius: 0px;
        top: 0;
        left: 0;
        box-shadow: 0px 0px 0px black;
    }

    to {
        background: green;
        border-radius: 300px;
        top: 200px;
        left: 200px;
        box-shadow: 0px 4px 10px black;
    }

}

#caixa {
    width: 300px;
    height: 300px;
    background: red;
    position: relative;
    box-shadow: 0px 0px 0px black;
    /* animation-name: animacao-caixa;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

    -webkit-animation: animacao-caixa 5s 3s 2 alternate;
    -moz-animation: animacao-caixa 5s 3s 2 alternate;
    -o-animation: animacao-caixa 5s 3s 2 alternate;
    animation: animacao-caixa 5s 3s 2 alternate;
}