@charset "UTF-8";



#caixa {
    width: 300px;
    height: 300px;
    background: orange;
}

#caixa:hover {
    width: 400px;
    height: 400px;
    background: yellow;
    /* -webkit-transition: width 3s, height 3s, background-color 3s;
    -moz-transition: width 3s, height 3s, background-color 3s;
    -o-transition: width 3s, height 3s, background-color 3s;
    transition: width 3s, height 3s, background-color 3s; */
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
}