@charset "UTF-8";

header {
    border: 1px solid #ccc;
    background: #f2f2f2;
    padding: 10px;
}

nav {
    border: 1px solid green;
    background: #f2f2f2;
    padding: 10px;
}

article {
    background: orange;
    padding: 5px;
}

section {
    border: 1px dotted #fff;
}

aside {
    background: rgba(0, 0, 255, 0.334);
}

footer {
    background: rgb(194, 193, 193);
}